<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <div class="form-repeatable-container{f:if(condition: '{validationResults.errors.0}', then: ' has-error')}" data-repeatable-container id="{element.identifier}" data-min-copies="{element.properties.minimumCopies}" data-max-copies="{element.properties.maximumCopies}">
        <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
            <div class="{element.properties.elementClassAttribute}" data-repeatable-root>
                <f:for each="{element.elements}" as="childElement">
                    <f:render partial="{childElement.templateName}" arguments="{element: childElement}"/>
                </f:for>
            </div>
            <button class="btn btn-default btn-sm" type="button" title="{formvh:translateElementProperty(element: element, property: 'copyButtonLabel')}" data-copy-button>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {formvh:translateElementProperty(element: element, property: 'copyButtonLabel')}
            </button>
        </f:render>
    </div>
</formvh:renderRenderable>
</html>
